CompileFlags:
  # Specify paths to additional system or project-specific headers.
  Add: [-Wall, -Wextra, -std=c++17]

Diagnostics:
  Suppress:  # Suppress specific warnings.
    - unused-variable
    - sign-conversion
